
.navbar-wrapper {
  background: #222;
  box-sizing: border-box;
  color: #fff;
  height: 100%;
  padding: 0;
  position: relative;
  -webkit-transform: translate3d(0,0,0);
  width: 90px;
}

.navlinks-wrapper {
  background: transparent;
  bottom: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.navlink {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.link {
  align-items: center;
  box-sizing: border-box;
  color: #fbfbfb;
  display: flex;
  height: 70px;
  justify-content: center;
  opacity: 1;
  position: relative;
  text-decoration: none;
  transition: all .15s linear;
  width: 100%;
}

.link.active:not(.sign-out) {
  opacity: 1;
}

.link.home, .link.home.active {
  background: #5a0202;
  opacity: 1;
}

.active-tab {
  background-color: #333;
  height: 70px;
  left: 0;
  top: 70px;
  position: absolute;
  transform: translateY(0);
  transition: all .3s ease-out;
  width: 90px;
}

.active-tab.signin {
  top: 140px;
}

.after-first, .after-second {
  background-color: #333;
  height: 7px;
  position: absolute;
  right: 0;
  top: -7px;
  width: 7px;
}

.after-second {
  bottom: -7px;
  top: auto;
}

.after-first:after, .after-second:after {
  background-color: #222;
  border-radius: 7px;
  bottom: 0;
  content: '';
  height: 14px;
  position: absolute;
  right: 0;
  width: 14px;
}

.after-second:after {
  bottom: auto;
  top: 0;
}

.active-tab:not(:first-child):after, .active-tab.active:before {
  background: #333;
  content: "";
  height: 10px;
  position: absolute;
  right: 0;
  width: 10px;
}

.logo {
  display: flex;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.logo-img {
  height: 50px;
  margin: auto;
  max-width: 100%;
}
