@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

.navbar-wrapper {
  background: #1e2025;
  box-sizing: border-box;
  color: #fff;
  height: 100%;
  padding: 0;
  position: relative;
  -webkit-transform: translate3d(0,0,0);
  flex: 0 0 90px;
}

.navlinks-wrapper {
  background: transparent;
  bottom: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.navlink {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.link {
  align-items: center;
  box-sizing: border-box;
  color: #fbfbfb;
  display: flex;
  height: 70px;
  justify-content: center;
  opacity: 1;
  position: relative;
  text-decoration: none;
  transition: all .15s linear;
  width: 100%;
}

.link.active:not(.sign-out), .link.active > .icon {
  opacity: 1;
}

.link.home, .link.home.active {
  background: #026082;
  opacity: 1;
  width: 100px;
}

.active-tab {
  background-color: #26282e;
  height: 70px;
  left: 0;
  position: absolute;
  transition: all .3s ease-out;
  width: 90px;
}

.active-tab.signin {
  top: 140px;
}

.after-first, .after-second {
  background-color: #26282e;
  height: 7px;
  position: absolute;
  right: 0;
  top: -7px;
  width: 7px;
}

.after-second {
  bottom: -7px;
  top: auto;
}

.after-first:after, .after-second:after {
  background-color: #1e2025;
  border-radius: 7px;
  bottom: 0;
  content: '';
  height: 14px;
  position: absolute;
  right: 0;
  width: 14px;
}

.after-second:after {
  bottom: auto;
  top: 0;
}

.active-tab:not(:first-child):after, .active-tab.active:before {
  background: #26282e;
  content: "";
  height: 10px;
  position: absolute;
  right: 0;
  width: 10px;
}

.logo {
  border-radius: 50%;
  display: flex;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
  margin: 0 auto;
  transition: box-shadow 0.5s;
}

/* tabs */
.icon {
  color: #fff;
  opacity: 0.5;
  transition: all 300ms;
}

.icon:hover {
  opacity: 1;
}

.icon > .text {
  font-size: 12px;
}

.dashboard-svg, .signin-svg, .signup-svg {
  height: 30px;
  transition: all 175ms;
  width: 30px;
}

.dashboard-svg {
  fill: #07c5b4;
}

.signin-svg {
  fill: #07c5b4;
}

.signup-svg {
  fill: #ff9800;
}
