.body {
  height: 100%;
  overflow: hidden;
  width: 100%;

  background-color: #ebeced;
  color: #3f4652;
  line-height: 1.4;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-align: left;
  -webkit-overflow-scrolling: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.app-wrapper {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.assignment-container-wrapper,
.course-container-wrapper,
.dashboard-container,
.signin-container,
.signup-container {
  display: flex;
  overflow-y: scroll;
  width: 100%;
}

/* DirectoryCourses */
.course-container {
  background: #5a0202;
  flex-grow: 1;
  height: 70px;
  margin: 0 0 50px;
}

.course-form-select {
  height: 30px;
  margin-right: 10px;
  width: 100px;
}

.course-form-label {
  margin-right: 10px;
}

.course-form-input {
  border: 1px solid #ddd;
  height: 25px;
  width: 150px;
}

.directory-search-form-wrapper {
  position: relative;
  width: 100%;
}
