/* animations */
@-webkit-keyframes slide-in {
  0%   { margin-top: -50%; }
  100% { margin-top: 0; }
}

@keyframes slide-in {
  0%   { margin-top: -50%; }
  100% { margin-top: 0; }
}

@-webkit-keyframes slide-out {
  0%   { margin-top: 150%; }
  100% { margin-top: 0; }
}

@keyframes slide-out {
  0%   { margin-top: 150%; }
  100% { margin-top: 0; }
}

.body {
  height: 100%;
  overflow: hidden;
  width: 100%;

  background-color: #ebeced;
  color: #3f4652;
  line-height: 1.4;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-align: left;
  -webkit-overflow-scrolling: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h2 {
  margin: 0;
}

.app-wrapper {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.content-wrapper {
  display: flex;
  height: calc(100% - 70px);
  width: 100%;
}

.content-container {
  display: flex;
  width: 100%;
}

.main-content {
  display: flex;
  flex: 0 0 75%;
}

.sidebar-wrapper {
  flex: 0 0 25%;
  height: 100%;
  max-width: 350px;
  min-width: 250px;
  position: relative;
}

/* Main Nav Bar */
.main-nav-bar {
  background: #026082;
  display: flex;
  height: 70px;
  position: relative;
  width: 100%;
  z-index: 1;
}

/*.assignment-container-wrapper,
.course-container-wrapper,
.dashboard-container,
.signin-container,
.signup-container {
  display: flex;
  flex-grow: 1;
}*/

/* DirectoryCourses */
.course-container {
  background: #1e2025;
  color: #b0d8e8;
  flex-grow: 1;
  height: 70px;
  margin: 0 0 50px;
}

.course-form-label {
  margin-right: 10px;
}

.course-form-input {
  border: 1px solid #ddd;
  height: 25px;
  width: 150px;
}

.button-search {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 35px;
  outline: none;
  width: 90px;
}

.search-svg {
  height: 35px;
}

.directory-search-form-wrapper {
  position: relative;
  width: 100%;
}

/* Home */
.home-wrapper, .signin-container, .signup-container {
  width: 100%;
}

.assignment-container-wrapper, .directory-container-wrapper {
  background: #26282e;
  height: 100%;
  position: relative;
  width: 100%;
}

.assignment-list-container, .directory-list-container {
  background: #26282e;
  display: block;
  height: 100%;
  overflow-y: scroll;
  z-index: -1;
}

.assignment-list-container{
  animation: slide-in .3s;
}

.directory-list-container {
  animation: slide-out .3s;
}

/* Assignments */
.assignment-form-container {
  background: #026082;
  height: 70px;
  width: 100%;
}

.assignment-form, .directory-form {
  align-items: center;
  color: rgba(238, 238, 238, 0.51);
  font-size: 16px;
  display: flex;
  height: 100%;
  justify-content: center;
}

.assignment-list-container-inner {
  animation: slide-in .3s;
  padding: 20px;
}

/* Directory */
/*.directory-form-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  letter-spacing: 1px;
}*/

.signin-form-container, .signup-form-container {
  margin: auto;
  padding-left: 90px;
}
